body {
    font-family: sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.cell {
    width: calc(100%/3);
    height: calc(100%/3);
    border: 1px solid lightgray;
    box-sizing: border-box;
    font-size: 4rem;
}

#gameboard {
    width: 450px;
    height: 450px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}